@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 70vh;
  background-color: #8ba7be;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  padding: 30px 200px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}

.btn {
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
  border: 0;
}
/* BTN1************************* */

.btn1 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  margin: 30px 15px;
}

.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn1:hover:before {
  transform: rotate(0deg);
}

/* BTN2********** */

.btn2 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn2:hover:before {
  transform: translateX(0%);
}

.btn2:hover {
  color: #333;
}

/* Btn3**************** */

.btn3 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: rotateX(90deg);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn3:hover:before {
  transform: rotateX(0deg);
}

.btn3:hover {
  color: #333;
}

/* Btn4**************** */

.btn4 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn4:hover:before {
  transform: rotateY(0deg);
}

.btn4:hover {
  color: #333;
}

/* Btn5**************** */

.btn5 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: rotateX(90deg);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn5::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.btn5:hover:before {
  transform: rotateX(0deg);
}

.btn5:hover:after {
  transform: rotateY(0deg);
}

.btn5:hover {
  color: #333;
}

/* Btn6**************** */

.btn6 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn6:hover {
  letter-spacing: 1px;
  border: 3px solid #fff;
}

/* Btn7**************** */

.btn7 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: all 0.3s linear;
}

.btn7::before {
  content: "THANKS!";
  position: absolute;
  top: 0;
  left: 0;
  background: #f05e47;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.3s ease-in;
  display: grid;
  place-items: center;
}

.btn7:hover:before {
  transform: translateY(0%);
}

/* Btn8**************** */

.btn8 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}

.btn8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 150px;
  height: 20px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.4s ease-in;
}

.btn8:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.btn8:hover {
  background: #f05e47;
}

/* Btn9**************** */

.btn9 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}

.btn9::before {
  content: "THANKS!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in;
  display: grid;
  place-items: center;
  transform: scale(5);
  opacity: 0;
}

.btn9:hover:before {
  transform: scale(1);
  background: rgb(172, 40, 40);
  color: #fff;
  opacity: 1;
}

/* Btn10**************** */

.btn10 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}

.btn10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in;
  background: #f05e47;
  transform: translateY(-100%);
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.btn10:hover:before {
  transform: translateY(0);
  height: 200%;
}

/*  ********* Btn11  *************** */

.btn11 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}

.btn11::before {
  content: "Hi ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f05e47;
  transform-origin: top center;
  display: grid;
  place-items: center;
  transform: rotateX(270deg);
  transition: all 0.3s linear;
}

.btn11::after {
  content: "Thanks ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9647f0;
  transform-origin: top;
  display: grid;
  place-items: center;
  transform: rotateX(270deg);
  transition: all 0.3s linear;
  transition-delay: 0.2s;
}

.btn11:hover:before {
  transform: rotateX(0deg);
}

.btn11:hover:after {
  transform: rotateX(0deg);
}

/*  ********* Btn12  *************** */

.btn12 {
  position: relative;
  width: 8rem;
  height: 3.5rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.btn12::before {
  content: "Thanks";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #f05e47;
  transform: translateX(100%) rotateY(360deg) scale(0);
  opacity: 0;
  transition: all 0.5s linear;
}

.btn12::after {
  content: "Hi";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #f05e47;
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
  transition: all 0.5s linear;
}

.btn12:hover:before {
  transform: translateX(0) rotateY(0deg) scale(1);
  opacity: 1;
}

.btn12:hover::after {
  transform: translateX(-100%) rotateY(360deg) scale(0);
  opacity: 0;
}

/*  ********* Btn13 *************** */

.btn13 {
  position: relative;
  width: 12rem;
  height: 3.1rem;
  outline: 0;
  background: transparent;
  font-weight: 700;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.btn13::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  background: #20caff;
  mix-blend-mode: multiply;
  z-index: -1;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 0.3s linear;
}

.btn13::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  background: #ff7675;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: bottom;
  transform: rotateX(0deg);
  transition: all 0.3s linear;
}

.btn13:hover:before {
  top: -8px;
  transform: perspective(1000px) rotateX(80deg);
}
.btn13:hover:after {
  top: 8px;
  transform: perspective(1000px) rotateX(-80deg);
}

/*  ********* Btn14*************** */

.btn14 {
  position: relative;
  width: 9rem;
  height: 3rem;
  outline: 0;
  background: transparent;
  font-weight: 700;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  transition: all 0.3s linear;
}

.btn14::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 20%;
  top: -5px;
  left: -5px;
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  transition: all 0.3s linear;
}

.btn14::after {
  content: "";
  position: absolute;
  height: 40%;
  width: 20%;
  bottom: -5px;
  right: -5px;

  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
  transition: all 0.3s linear;
}

.btn14:hover:before {
  height: 100%;
  width: 100%;
}
.btn14:hover:after {
  height: 100%;
  width: 100%;
}

/*  ********* Btn15*************** */

.btn15 {
  position: relative;
  width: 9rem;
  height: 3rem;
  background: transparent;
  font-weight: 700;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  transition: all 0.3s linear;
}

.btn15::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  top: 0px;
  left: 0px;
  border-left: 3px solid #333;
  transition: all 0.3s linear;
}

.btn15::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0px;
  right: 0px;
  border-right: 3px solid #333;
  transition: all 0.3s linear;
}

.btn15:hover:before {
  height: 100%;
}

.btn15:hover:after {
  height: 100%;
}

.btn15 span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  right: 0;
  border-top: 3px solid #333;
  transition: all 0.3s linear;
}

.btn15 span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #333;
  transition: all 0.3s linear;
}

.btn15:hover > span::before {
  width: 100%;
}

.btn15:hover > span::after {
  width: 100%;
}

/*  ********* Btn16 *************** */

.btn16 {
  position: relative;
  width: 12rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.span16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  z-index: -1;
  background: transparent;
  transition: all 0.3s linear;
}

.span16::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 600%;
  background: #8ba7be;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s linear;
}

.btn16:hover .span16:before {
  width: 100%;
  background-color: #333;
  transform: translate(-50%, -50%) rotate(60deg);
}

/*  ********* Btn17 *************** */

.btn17 {
  position: relative;
  width: 10rem;
  height: 3.1rem;
  background: #71deff;
  font-weight: 700;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  border-radius: 50px;
  transition: all 0.3s linear;
}

.btn17::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(100, 198, 255);
  border-radius: 50px;
  z-index: -1;
  transition: all 0.3s linear;
}

.btn17:hover:before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn17:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*  ********* Btn18 *************** */

.btn18 {
  position: relative;
  width: 10rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  /* overflow: hidden; */
  transition: all 0.3s linear;
}

.btn18::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4rem;
  top: -5px;
  left: 0px;
  border-left: 2px solid #9647f0;
  border-right: 2px solid #f05e47;
  transition: 0.4s all linear;
}

.btn18::after {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 11rem;
  height: 100%;
  border-top: 2px solid #9647f0;
  border-bottom: 2px solid #f05e47;
  transition: all 0.3s linear;
  transition-delay: 0.1s;
}

.btn18:hover:before {
  transform: rotateY(180deg);
}

.btn18:hover:after {
  transform: rotateX(180deg);
}

/*  ********* Btn19 *************** */

.btn19 {
  position: relative;
  width: 10rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  border: 3px solid #fff;
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.btn19::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: calc(3.1rem / 2) solid #fff;
  border-bottom: calc(3.1rem / 2) solid #fff;
  border-right: calc(3.1rem / 2) solid transparent;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.4s linear;
}

.btn19::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: calc(3.1rem / 2) solid #fff;
  border-bottom: calc(3.1rem / 2) solid #fff;
  border-left: calc(3.1rem / 2) solid transparent;
  z-index: -1;
  transform: translateX(100%);
  transition: all 0.4s linear;
}

.btn19:hover {
  color: #333;
}

.btn19:hover:before {
  transform: translateX(0);
}

.btn19:hover:after {
  transform: translateX(0);
}

/*  ********* Btn20 *************** */

.btn20 {
  position: relative;
  width: 10rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  border: 2px solid rgb(255, 226, 96);
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.btn20::before,
.btn20::after,
.btn20 span::before,
.btn20 span::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgb(214, 183, 45);
  z-index: -1;
  transition: all 0.2s linear;
}

.btn20::before {
  top: 0;
  left: -25%;
}

.btn20::after {
  top: -100%;
  left: 25%;
}

.btn20:hover:after {
  top: 0;
  left: 25%;
}

.btn20:hover::before {
  top: 0;
  left: 0;
}

.btn20 span::before {
  top: 100%;
  right: 25%;
}

.btn20 span::after {
  top: 0;
  right: -100%;
}

.btn20:hover span::before {
  top: 0;
  right: 25%;
}

.btn20:hover span::after {
  top: 0;
  right: 0;
}

/*  ********* Btn21*************** */

.btn21 {
  position: relative;
  width: 10rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.btn21::before,
.btn21::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f05e47;
  z-index: -1;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.4s linear;
}

.btn21::before {
  left: 0;
  box-shadow: -100px 0 1px #f05e47;
}

.btn21::after {
  right: 0;
  box-shadow: 100px 0 1px #f05e47;
}

.btn21:hover:before {
  left: 50%;
  opacity: 01;
  box-shadow: 30px 0 0 #f05e47;
}

.btn21:hover:after {
  right: 50%;
  opacity: 1;
  box-shadow: -30px 0 0 #f05e47;
}

.btn21 span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(0);
  border-radius: 4px;
  background-color: #f05e47;
  transition: all 0.2s linear;
  transition-delay: 0.3s;
}

.btn21:hover span {
  transform: scale(1);
}

/*  ********* Btn22*************** */

.btn22 {
  position: relative;
  width: 8rem;
  height: 3.1rem;
  background: transparent;
  font-weight: 700;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 30px 15px;
  transition: all 0.3s linear;
}

.btn22::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #f05e47;
  top: -6px;
  left: -1%;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s linear;
}

.btn22::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #ff7675;
  top: 1px;
  left: 51%;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s linear;
}

.btn22:hover:before {
  top: 0;
  left: 0;
  transform: skewX(0deg);
}

.btn22:hover:after {
  top: 0;
  left: 50%;
  transform: skewX(0deg);
}
